# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [2]:
num_1 = 10

#### 2. asign any number of type float to the variable "num_2"

In [3]:
num_2 = 1.3

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [4]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [5]:
type(total)

float

#### 5. assign variable "height" with your height

In [6]:
height = 183

#### 6. asign variable "mass" with your weight

In [7]:
mass = 68

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [8]:
bmi= 68/(183*183)

#### 8. print value from "bmi" variable

In [9]:
print(bmi)

0.0020305174833527427

# String

#### 1. Create variable "name" with your first name

In [10]:
name = "Kevin"

#### 2. Create variable "surname" with your surname

In [11]:
surname = "Vrieling"

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [14]:
name_surname = (name+ " " + surname)

#### 4. print variable "name_surname"

In [15]:
print(name_surname)

Kevin Vrieling

#### 5. print first letter from variable "name_surname"

In [16]:
print(name_surname[0])

K

#### 6. print your name (without enmpty space) from variable "name_surname"

In [19]:
print (name_surname.replace(" ",""))

KevinVrieling

#### 7. print your surname 10x (use variable surname)

In [20]:
print(surname*10)

VrielingVrielingVrielingVrielingVrielingVrielingVrielingVrielingVrielingVrieling

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [21]:
greeting = "hello my name is" + " " + name_surname

#### 9. print "message" variable

In [22]:
print(greeting)

hello my name is Kevin Vrieling

## List

#### 1. create empty list with name "empty_list"

In [23]:
emptyList = []

#### 2. create list "heights" with five random values

In [24]:
heights = [83,96,15,45,29]

#### 3. print heights

In [25]:
print(heights)

[83, 96, 15, 45, 29]

#### 4. print type of variable "heights"

In [26]:
print(type(heights))

<class 'list'>

#### 5. print second value from "heights"

In [27]:
print (heights[1])

96

#### 6. assign last three values from "heights" to another list "heights_2"

In [28]:
heights2 = heights[-3:]

#### 7. print "heights_2"

In [29]:
print(heights2)

[15, 45, 29]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [30]:
listall = heights + heights2

#### 9. print "list_all"

In [31]:
print(listall)

[83, 96, 15, 45, 29, 15, 45, 29]

#### 10. print the type of "list_all"

In [32]:
print(type(listall))

<class 'list'>

## Tuple

#### 1. create empty tuple with name empty_tuple

In [34]:
emptytuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [35]:
emptytuple[0] = "Kevin"

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

In [ ]:
Tuples are immutable

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [36]:
emptydict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [64]:
heightsdict = {"kevin" : 183}

#### 3. asign another name and height to "heights_dict"

In [65]:
heightsdict ["cha"] = 160

#### 4. print "heights_dict" dictionary

In [68]:
print(heightsdict)

{'kevin': 183, 'cha': 160}

#### 5. print your height from the "heights_dict" dictionary

In [69]:
print(heightsdict["cha"])

160

#### 6. print all values from "heights_dict" dictionary

In [70]:
print(heightsdict.values())

dict_values([183, 160])

#### 7. print all keys from "heights_dict" dictionary

In [71]:
print(heightsdict.keys())

dict_keys(['kevin', 'cha'])